html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  width: 100%;
  font-family: grenadine-mvb, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2f2f38;
}
p {
  font-family: grenadine-mvb, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
header,
footer,
section {
  max-width: 840px;
  margin: 0 auto;
  padding: 48px 0;
  text-align: center;
}
.wrapper {
  background-size: 32px;
  background-position: center center;
  padding-bottom: 0;
}
.wrapper.dark {
  background-image: url('../assets/bg-pattern-2.png');
  background-color: #2f2f38;
  color: #ffffff;
}
.wrapper.stripes {
  background-image: url('../assets/bg-pattern-2.png');
  background-color: #2f2f38;
  color: #ffffff;
}
.wrapper.white {
  background-image: none;
}
.wrapper.footer {
  background-color: #2f2f38;
  color: #ffffff;
}
.wrapper.footer p {
  font-size: 12px;
}
.wrapper.footer p a {
  color: #ffffff;
}
nav {
  padding: 32px;
  border: 1px solid red;
}
nav a {
  color: #2f2f38;
  text-decoration: none;
}
nav a .logo {
  font-family: ccsignlanguage, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 24px;
}
header .button {
  background-color: #2f2f38;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 16px;
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
}
header .button.secondary {
  margin-top: 8px;
  font-size: 16px;
  background-color: #ffffff;
  color: #2f2f38;
  border: 2px solid #2f2f38;
}
