html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
* {
  box-sizing: border-box;
}
a:hover {
  transition: transform 0.1s;
  transform: scale(1.025);
}
html,
body {
  font-size: 16px;
  width: 100%;
  font-family: grenadine-mvb, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2a2a33;
}
p {
  font-family: grenadine-mvb, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
header img {
  display: block;
  height: 400px;
  margin: 0 auto;
}
header,
footer,
section {
  max-width: 840px;
  margin: 0 auto;
  padding: 48px 0;
  text-align: center;
}
@media (max-width: 840px) {
  header,
  footer,
  section {
    margin: 0 24px;
  }
}
.wrapper {
  background-size: 64px;
  background-position: center center;
}
.wrapper.dark {
  background-image: url('../assets/pattern-noise.png');
  color: #ffffff;
  background-size: 256px;
  background-position: center center;
  /*p, h2 {

	  text-shadow:
		   -1px -1px 0 @dark-grey,  
		    1px -1px 0 @dark-grey,
		    -1px 1px 0 @dark-grey,
		     1px 1px 0 @dark-grey;


	}*/
}
.wrapper.stripes {
  background-image: url('../assets/pattern-stripes.png');
  color: #2a2a33;
  padding: 72px 0;
}
.wrapper.stripes section {
  background-color: #ffffff;
  border-radius: 24px;
  border: 4px solid #2a2a33;
  padding: 24px 32px;
}
.wrapper.stripes section p a {
  color: #2a2a33;
}
.wrapper.white {
  background-image: none;
}
.wrapper.footer {
  background-color: #2a2a33;
  color: #ffffff;
}
.wrapper.footer p {
  font-size: 12px;
}
.wrapper.footer p a {
  color: #ffffff;
}
nav {
  padding: 32px;
  text-align: center;
}
nav a {
  color: #2a2a33;
  text-decoration: none;
}
nav a .logo {
  font-family: ccsignlanguage, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 24px;
}
header .button {
  background-color: #2a2a33;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 24px;
  border-radius: 16px;
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
}
header .button.secondary {
  margin-top: 16px;
  font-size: 16px;
  background-color: #ffffff;
  color: #2a2a33;
  border: 2px solid #2a2a33;
}
#about section p {
  text-align: left;
}
#contact ul {
  padding: 0;
}
#contact ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 48px;
  padding: 0 16px;
}
#contact ul li a {
  display: block;
}
#contact ul li a img {
  width: 64px;
}
#contact ul li a:hover {
  transform: scale(1.2);
}
footer .footer-hands,
footer .footer-head {
  left: 50%;
  transform: translateX(-50%);
  bottom: -120px;
  position: fixed;
  pointer-events: none;
}
footer .footer-head {
  width: 104px;
  transition: bottom 0.3s cubic-bezier(0.42, -0.01, 0.44, 1.27) 0.4s;
}
footer .footer-hands {
  width: 144px;
  transition: bottom 0.2s ease-out;
}
footer:hover .footer-hands,
footer:hover .footer-head {
  bottom: -6px;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px 0;
  gap: 16px;
}
.cards .card {
  vertical-align: top;
  list-style-type: none;
  background: #ffffff;
  border-radius: 16px;
  border: 4px solid #2a2a33;
  color: #2a2a33;
  text-align: left;
  padding: 32px;
  flex-basis: 49%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
@media (max-width: 840px) {
  .cards .card {
    flex-basis: 100%;
  }
}
.cards .card.disabled {
  cursor: not-allowed;
}
.cards .card.disabled img,
.cards .card.disabled h3,
.cards .card.disabled p {
  opacity: 0.4;
}
.cards .card p.description {
  padding-bottom: 24px;
}
.cards .card p.label {
  margin: 0;
}
.cards .card p.label span {
  min-height: 0;
  font-size: 10px;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 0px 8px;
  border-radius: 8px;
  color: #2a2a33;
  margin: 0;
  border: 2px solid #2a2a33;
  display: inline-block;
}
.cards .card p.cta {
  margin: auto 0 0 0;
  text-decoration: underline;
}
.cards .card img {
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
}
nav a[href="#header"] {
  margin: 0 auto 0 0;
}
nav a[href="#header"] img {
  width: 180px;
}
nav a {
  margin: 0 0 0 24px;
}
nav a:hover {
  transform: scale(1.1);
}
@media (max-width: 840px) {
  nav a[href="#header"] {
    flex-shrink: 0;
    margin: 0;
    width: 100%;
    margin: 8px 16px;
  }
  nav a {
    margin: 4px 8px;
  }
}
